<div class="container">
  <% if @shop.image? %>
  <%= image_tag @shop.image.url %><br>
  <% end %>
  <h3><%= @shop.name %></h3>
  <p>オーナー：<%= @shop.owner.name %>
  <h5>店舗詳細</h5>
  <p>住所：<%= @shop.prefecture %><%= @shop.city %><%= @shop.address %>
  <p>最寄り駅：<%= @shop.station %>
  <p>席数：<%= @shop.capacity %>
  <p>基本料金：<%= @shop.price %>
  <p>紹介文：<%= @shop.content %>
  <p>特徴タグ：
    <% if @tags %>
    <% @tags .each do |tag| %>
    <span class="badge rounded-pill bg-secondary text-white">
      <%= tag.name %>
    </span>
    <% end %>
    <% end %>
    <br>
    <% if @shop.owner == Owner.find_by(id: session[:owner_id]) %>
    <%= link_to "予約枠の開放・閉鎖", s_res_path %>
    <%= link_to "店舗情報編集", s_edit_path %>
    <%= link_to "店舗を削除する", s_destroy_path, method: "patch", data: { confirm: "本当に店舗そのものを削除しますか？" } %>
    <% else %>
    <%= link_to "質問を送る", ch_show_path %>
    <%= link_to "予約日時選択", c_new_path %>
    <% if Calendar.find_by(shop_id: @shop.id, user_id: session[:user_id]) != nil %>
    <%= link_to "申込予約一覧", c_s_index_path(@shop)%>
    <% end %>
    <% end %>
    <%= link_to "店舗一覧へ戻る", s_index_path %><br>
</div>