<h3 class="text-center py-1"><%= @shop.name %>への連絡</h3>
<div class="container">
  <div class="contents">
    <div class="js-message-errors"></div>
    <%= render partial: 'message'%>
    <%= form_with(model: @message, class: 'js-form', url: ch_msg_path) do |f| %>
    <%= f.label :content, "内容" %>
    <%= f.text_area :content, class: "form-control", id: "message_text" %>
    <div class="mx-auto text-center my-1 py-1 d-grid gap-2 col-md-4 col-sm-8">
      <%= f.submit "送信", class: "btn btn-warning btn-lg", id: "submit"%>
    </div>
    <% end %>
  </div>
</div>