<%
=begin%>
<div class="table">
  <table>
    <thead>
      <tr class="thead-dark">
        <th>
          <% if @t.first.to_date > Date.today%>
          <%= form_with(url: c_prev_path , method: :get, local: true) do |f| %>
          <%= f.hidden_field :calendar, value: @today %>
          <%= f.submit "前の週へ"%>
          <% end %>
          <% end %>
        </th>
        <th colspan=6 class="text-center"><%= @year_month %></th>
        <th>
          <%= form_with(url: c_next_path , method: :get, local: true) do |f| %>
          <%= f.hidden_field :calendar, value: @today %>
          <%= f.submit "次の週へ"%>
          <% end %>
        </th>
      </tr>
    </thead>
    <tbody>

      <tr class="thead-light">
        <th></th>

        <%= form_for(:calendar, url:{controller: 'calendars', action: 'create'}) do |f| %>
        <% @week.each do |day| %>
        <th class="text-center"><%= day.mday %><%= "(" + %w[日 月 火 水 木 金 土][day.wday] + ")" %></th>
        <% end %>
      </tr>

      <% @able_time.each do |hour| %>
      <tr>
        <th><%= hour %>:00</th>
        <% 7.times do %>
        <% cal_date = @t.slice!(0)%>
        <% if @rentDays.include?(cal_date) %>
        <td class="text-center">x</td>
        <% else %>
        <td class="text-center"><%= f.check_box :rent_date, {multiple: true}, cal_date, nil %></td>
        <% end%>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= f.submit "申し込む" %>
</div>
<% end%>
<%
=end%>