<% if @user && @user.errors.any? %>
<div id="error_explanation">
  <div class="alert alert-danger">
    <%= pluralize(@user.errors.count, "個のエラー") %>が発生しています。
  </div>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<% if @owner && @owner.errors.any? %>
<div id="error_explanation">
  <div class="alert alert-danger">
    <%= pluralize(@owner.errors.count, "個のエラー") %>が発生しています。
  </div>
  <ul>
    <% @owner.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<% if @shop && @shop.errors.any? %>
<div id="error_explanation">
  <div class="alert alert-danger">
    <%= pluralize(@shop.errors.count, "個のエラー") %>が発生しています。
  </div>
  <ul>
    <% @shop.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>